.news-title{
	font-size: 26px;
	text-align: center;
	padding-bottom: 70px;
}
.detail-info{
	margin: 15px 0;
	line-height: 45px;
	height: 45px;
	text-align: center;
	background-color: rgba(210, 210, 210, 0.3);
}

.detail-info span{
	margin: 0 10px;
	color: #9c9c9c;
}
#content-prev-next{
	margin-bottom: 50px;
}

#content-prev-next a{
	cursor: pointer;
	margin-left: 10px;
}

#content-prev-next div{
	font-size: 16px;
	margin: 10px 0;
}