.opacity{
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	overflow: hidden;
}

.srecen2-title,.srecen3-title,.srecen4-title,.srecen5-title,.srecen6-title{
	word-break: keep-all;
	letter-spacing: 10px;
	color: #0d5605;
	font-size: 40px;
	text-align: center;
	font-weight: 600;
	text-shadow:#fff 2px 0 0,#fff 0 2px 0,#fff -2px 0 0,#fff 0 -2px 0; 
}
.screen3-product-name,.screen5-product-name{
	padding: 5px 0px;
	font-size: 20px;
	cursor: default;
	text-shadow:#fff 2px 0 0,#fff 0 2px 0,#fff -2px 0 0,#fff 0 -2px 0;
	text-align: center;
}
.screen3-product-name{
	font-size: 22px;
	color: #e64a0d;
}
.screen-2-opacity{
	position: absolute;
	top: 100vh;
}
.screen-3-opacity{
	position: absolute;
	top: 200vh;
}
.screen-4-opacity{
	position: absolute;
	top: 300vh;
}
.screen-5-opacity{
	position: absolute;
	/* top: 400vh; */
	bottom: 0px;
}
.srecen2-title{
	/* padding-top: 100px; */
	/* height: 70px; */
}


.screen-nav {
	position: fixed;
	z-index: 5;
	/* background: #000000; */
	height: 100px;
	width: 20px;
	right: 20px;
	top: 45%;
	/* display: none; */
}

.screen-nav li{
	width: 30px;
	height: 30px;
	margin-top: 8px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0);
}

.screen-nav li.on{
	border-radius: 20px;
	border: 1px solid #FFFFFF;
}

.screen-nav li a{
	display: block;
	margin: auto;
	margin-top: 6px;
	width: 16px;
	height: 16px;
	border-radius: 20px;
	/* border-radius: 20px; */
	background-color: #fff;
}

.srceen-1 .banner-top{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.srceen-1 .top-country ul{
	display: inline-flex;
	
}

.srceen-1 .top-country ul li{
	padding:20px;
}

.srceen-1-video{
	    display: flex;
	    height: 100vh;
	    align-items: center;
	    justify-content: center;
}




/* 第二屏开始 */
.srceen-2{
	height: 100vh;
	/* display: none; */
}
.screen-2-opacity{
	width: 100%;
	padding-top: 210px;
	overflow: hidden;
	/* display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; */
}

.srecen2-main{
	/* display: flex; */
	width: 1200px;
	margin: auto;
	border-radius: 10px;
}

.srecen2-img{
	position: relative;
	float: left;
	/* flex-grow:1; */
	/* margin-top: 100px; */
	/* width: 20%; */
	width: 260px;
	height: 180px;
	padding-right: 20px;
}

.srecen2-img img{
	width: 100%;
	max-width: 300px;
	border-radius: 10px;
}

.srecen2-content{
	padding: 80px 45px 10px;
	color: #0d5605;
	/* height: 80%; */
	height: 700px;
	max-height: calc(65vh);
	overflow: hidden;
}



.srecen2-description{
	letter-spacing: 3px;
	margin-top: 60px;
	line-height: 30px;
	font-size: 16px;
	font-family: Microsoft YaHei;
}

.screen-3-opacity{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.srecen3-content{
	position: relative;
	/* top: calc(35% - 100px); */
}
.screen3-slide{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.srceen-3-prev,.srceen-3-next{
	width: 25px;
	height: 50px;
	margin: 0px 30px;
	margin-top: 120px;
}

.screen3-product{
	margin: auto;
	margin-top: 185px;
	text-align: center;
	/* width: 80%; */
	width: 1260px;
	overflow: hidden;
	padding: 5px;
}

.screen3-product ul{
	display: inline-flex;
	/* width: 1090px; */
}
.screen3-product li{
	padding-right: 50px;
}

.screen3-product li img{
	min-width: 150px;
	width: 165px;
	height: 165px;
	border: 5px solid #067d1b;
	border-radius: 50%;
}

.screen3-product li img:hover{
	padding: 4px;
	border: 5px solid #2dd22a;
	/* transform:rotate(180deg); */
	/* transition: transform 0.5s; */
}


.screen-4-opacity{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.srecen4-content{
	width: 80%;
	display: flex;
	width: 1200px;
	margin: auto;
	padding-top: 100px;
}

.screen4-left{
	flex-grow:1;
	/* 让子元素垂直居中 */
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}
.screen4-product{
	flex-grow:3;
}
.screen4-product ul{
	display: inline-flex;
	margin: auto;
}
.screen4-product ul li{
	margin: 15px;
}

.screen4-product ul li img{
	width: 260px;
	height: 180px;
}

.screen4-product-name {
    padding: 5px 0px;
    font-size: 15px;
	cursor: default;
}

.screen-5-opacity{
	width: 100%;
	display: flex;
	justify-content: center;
}

.srecen5-content{
	width: 1200px;
	padding-top: 210px;
}

.screen5-product{
	margin-top: 60px;
}
.screen5-product ul{
	display: inline-flex;
	margin: auto;
}
.screen5-product ul li{
	margin: 20px;
}

.screen5-product ul li img{
	width: 240px;
	height: 170px;
}






@-webkit-keyframes scaleBanner {
	0%{
		transform:scale(1);
	}
	50%{
		transform:scale(1.2);
	}
	100%{
		transform:scale(1);
	}
}

.on .screen-bg{
	/* transition: all 1s; */
	-webkit-animation: scaleBanner 6s infinite linear;
}


/* img{transition: all 1s;} */
/* img:hover{transform:scale(1.2);transition:transform 1s;} */






