.srceen-2 {
	position: relative;
}

.screen-2-left {
	width: 60%;
	position: absolute;
	left: 0px;
	z-index: 3;
	background-image: url(../images/banner/6.jpg);
	background-size: 100%;
}

.screen-2-right {
	width: 60%;
	position: absolute;
	right: 0px;
	z-index: 4;
	background-color: #FFFFFF;

	padding-top: 200px;
	padding-left: 100px;
	padding-right: 100px;
}

.screen-2-right-main {
	width: 100%;
}


.screen2-title {
	font-size: 60px;
	font-weight: 600;
}

.screen2-little-title {
	margin-top: 10px;
	font-size: 26px;
	display: inline-block;
}

.screen2-little-title:after {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #dab866;
	border-radius: 50%;
	margin: 0 20px;
}

.screen-2-right-main span {
	font-size: 20px;
	margin-left: 10px;
}

.screen2-description {
	margin-top: 20px;
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
	padding-bottom: 60px;
}

.screen-2-more {
	width: 150px;
	height: 44px;
	color: #FFFFFF;
	border-radius: 20px;
	text-align: center;
	line-height: 44px;
	background-color: rgba(126, 203, 40);
	cursor: pointer;
}

.screen-2-more:hover {
	background-color: rgb(78, 123, 27);
}

.screen-2-center {
	position: absolute;
	width: 100%;
	height: 200px;
	/* background-color: #09c7c7; */
	z-index: 5;
	bottom: 100px;
	background: linear-gradient(to right, rgba(45, 45, 45, 0.5) 38%, rgba(104, 161, 40, 1) 38%);
}

.screen-2-center-ul{
	text-align: center;
	width: 100%;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.screen-2-center-ul li{
	width: 20%;
	/* height: 100%; */
}

.screen-2-center-ul li p{
	font-size: 50px;
	font-family: fantasy;
	color: #FFFFFF;
}

.screen-2-center-ul li span{
	font-size: 18px;
	font-family: fantasy;
	color: #FFFFFF;
}



.screen-5-opacity{
	/* position: absolute; */
	top: 400vh;
}
.screen-5-opacity{
	/* top: 0px; */
}

.srceen-6{
	position: relative;
}



.screen-6-opacity{
	position: absolute;
	top: 0px;
	width: 100%;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	/* background-color: rgba(62, 56, 56, 0.5); */
}


.srecen6-content{
	width: 100%;
	padding-top: 105px;
	text-align: center;
}
.srecen6-title{
	padding-bottom: 40px;
}

.screen-6-img{
	width: 800px;
}

#area-select{
	padding-top: 30px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #fff;
	text-align: center;
	text-align: -webkit-center;
	border-bottom: 50px solid ;
	border-image: -webkit-linear-gradient(#FFFFFF , #ececec ,#d6d2d2) 500 1;
	
}

.area-lists{
	max-width: 1200px;
	display: flex;
	margin: 0;
	
	background-color: #fff;
	color : #000000;
	cursor: pointer;
}
.area-lists>li{
	text-align: left;
	flex-grow : 1;
	font-size: 17px;
	/* display: inline-block; */
}

.area-lists li i{
	width: 15px;
	height: 15px;
	margin-left: 10px;
	display: inline-block;
	background: url(../img/jiantou.png) no-repeat;
	background-size: cover ;
	vertical-align: middle;
}

.area-lists>li:hover{
	color: #ffa500;
}
.area-on{
	color: #ffa500;
}

.area-lists>li:hover i{
	background: url(../img/jiantou-active.png) no-repeat;
	background-size: cover ;
}

i.icon-active {
	background: url(../img/jiantou-active.png) no-repeat!important;
	background-size: cover!important;
}

.area-country-lists{
	max-width: 1200px;
	margin: 0;
	display: flex;
	background-color: #fff;
	color : #000000;
	cursor: pointer;
	
	display: none;
}

.country-on{
	display: flex;
}

.country-li-on{
	color: #ffa500;
}

.area-country-lists li{
	text-align: left;
	padding: 40px 60px 20px 0;
	font-size: 15px;
}

.area-country-lists li:hover{
	color: #ffa500;
}
#area-contact{
	margin-top: 100px;
}

#area-content{
	width: 650px;
	padding: 60px 40px;
	margin: auto;
	display: inline-flex;
	background-color: rgba(74, 72, 72, 0.28);
	border-radius: 10px;
}

.left-logo img{
	width: 250px;
}

.contact-info p {
	font-weight: 600;
	font-size: 15px;
	text-align: left;
}